body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText,
#geoLocationContainer,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

#txtItem
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 3px;
}

/* Remove font icons styling, use .km- + data-icon name if only one should be overridden */
.km-root .km-pane .km-view .km-check {
    background-size: 100% 100%;
    -webkit-background-clip: border-box;
    /*background-color: currentcolor;*/
}

.km-check {
    -webkit-mask-box-image: url("img/check.png");
    background-color: white;
    margin: 1px;
}